body{
	background-color: #222;
	color: #fff;
	text-align: center;
}
.countdown_timer{
    font-family: Century Gothic;	
}
.countdown_timer-number{
   display: inline-block;
   font-size: 8vw;
   padding: 1vw 2vw;
}
.countdown_timer-time{
   display: inline-block;
}
.countdown_timer-text{
   font-size: 4vw;
   display: block;
}
.message_end{
  display: none;
  font-size: 4vw;
  font-style: Century Gothic;
}
.show{
  display: block;
}
.hide{
  display: none;
}